body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black; /* Modo oscuro por defecto */
    color: white; /* Color de texto para modo oscuro */
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Añade transición para cambios suaves */
}

body.light-mode {
    background-color: white; /* Modo claro */
    color: black; /* Color de texto para modo claro */
}

.container {
    position: relative;
    width: 50vw;
    max-width: 200px;
}

.central {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.central:hover {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    display: none;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.overlay img {
    width: 15vw;
    max-width: 70px;
    transition: transform 0.3s ease-in-out;
}

.overlay img:hover {
    transform: scale(1.1);
}

.overlay .hover-text {
    display: none;
    color: inherit; /* Asegura que el color del texto herede de body */
    margin-top: 3vh;
    position: absolute;
   
    width: 100%;
}

.overlay:hover .hover-text {
    display: block;
    text-align: center;
}

.overlay-top {
    top: -11vw;
    left: 50%;
    transform: translateX(-50%);
}

.overlay-right {
    top: 50%;
    left: calc(100% + 5vw);
    transform: translateY(-50%);
}

.overlay-bottom {
    top: calc(100% + 5vw);
    left: 50%;
    transform: translateX(-50%);
}

.overlay-left {
    top: 50%;
    right: calc(100% + 5vw);
    transform: translateY(-50%);
}

@media (max-width: 600px) {
    .container {
        width: 70vw;
    }

    .overlay img {
        width: 20vw;
        max-width: 50px;
    }

    .overlay-top {
        bottom: calc(60vh);
    }

    .overlay-right {
        left: calc(60vw);
    }

    .overlay-bottom {
        top: calc(50vh);
    }

    .overlay-left {
        right: calc(60vw);
    }
}
